<div class="DataContainer" >
  <div class="controlSection">
    <h1 class="heading">Coriolis Employee details</h1>
    <div class="controlBtns">
      <a class="btn btn-danger" href="#!form">Add Empoyee</a>
      <form class="controlForm">
        <!-- <label for="EmpSearch">Search</label> -->
        <select id="sOption" ng-model="searchOption" class="form-control">
          <option value="EmpID">
            Employee Id
          </option>
          <option value="Fname" selected>
            First Name
          </option>
        </select>
        
        <input type="text" ng-model="search" class="form-control" id="EmpSearch" placeholder="Search">
      </form>
    </div>
    
  </div>
  <div class="CardContainer" ng-controller="ModalCtrl">
    <div class="Card" ng-repeat="x in data | filter:searchEmp()">
      <h3>{{x.Fname}}</h3>
      <div class="details">
        <i class="fas fa-id-card-alt"></i><span>{{x.EmpID}}</span>
        <i class="fas fa-mobile-alt"></i><span>{{x.Contact}}</span>
        <i class="far fa-envelope"></i><span>{{x.Email}}</span>
      </div>
      <button class="dtlBtn" ng-click="open($index)">More details</button>
    </div>
  </div>
</div>
