<div class="formContainer" >
  <h1>Coriolis employee details form</h1>
  <form
    name="DetailsForm"
    id="eForm"
    class="detailsForm"
    ng-submit="SubmitForm($event)"
  >
    <fieldset>
      <div>
        <label for="Fname">First Name</label>
        <input
          type="text"
          class="inputElement"
          ng-model="Fname"
          name="Fname"
          placeholder="First Name"
          id="fname"
          required
        />
      </div>
      <div>
        <label for="Mname">Middle Name</label>
        <input
          type="text"
          class="inputElement"
          ng-model="Mname"
          name="Mname"
          placeholder="Middle Name"
          id="Mname"
        />
      </div>
      <div>
        <label for="Lname">Last Name</label>
        <input
          type="text"
          class="inputElement"
          ng-model="Lname"
          name="Lname"
          placeholder="Last Name"
          id="Lname"
          required
        />
      </div>
    </fieldset>
    <fieldset>
      <div>
        <label for="EmpID">Employee ID</label>
        <input
          type="text"
          class="inputElement"
          ng-model="EmpID"
          name="EmpID"
          placeholder="Employee ID"
          id="EmpID"
          required
        />
      </div>
      <div>
        <label for="Contact">Contact</label>
        <input
          type="number"
          class="inputElement"
          ng-model="Contact"
          name="Contact"
          placeholder="Contact Number"
          id="Contact"
          min="1000000000"
          max="9999999999"
          required
        />

        <span
          class="message"
          ng-show="DetailsForm.Contact.$dirty && DetailsForm.Contact.$invalid"
          >Please enter correct number.</span
        >
      </div>
      <div>
        <label for="email">Email</label>
        <input
          type="email"
          class="inputElement"
          ng-model="Email"
          name="Email"
          placeholder="Email"
          id="email"
          required
        />

        <span
          class="message"
          ng-show="DetailsForm.Email.$dirty && DetailsForm.Email.$invalid"
          >Please enter email in correct format.</span
        >
      </div>
    </fieldset>
    <fieldset>
      <div>
        <label for="date">Joining Date</label>
        <input
          type="date"
          class="inputElement"
          ng-model="Jdate"
          name="Jdate"
          placeholder="City"
          id="date"
          required
        />
      </div>
      <div>
        <label>Gender</label>

        <div class="radioContainer">
          <label for="male"
            ><input
              type="radio"
              ng-model="Gender"
              name="Gender"
              id="male"
              value="Male"
              default
              required
            />
            Male</label
          >

          <label for="female"
            ><input
              type="radio"
              ng-model="Gender"
              name="Gender"
              id="female"
              value="Female"
              required
            />
            Female</label
          >

          <label for="other"
            ><input
              type="radio"
              ng-model="Gender"
              name="Gender"
              id="other"
              value="Other"
              required
            />
            Other</label
          >
        </div>
      </div>
      <div>
        <label for="city">City</label>
        <input
          type="text"
          class="inputElement"
          ng-model="City"
          name="City"
          placeholder="City"
          id="city"
          required
        />
      </div>
    </fieldset>
    <fieldset>
      <div>
        <label for="hobbies">Hobbies</label>
        <textarea
          class="inputElement"
          ng-model="Hobbies"
          name="Hobbies"
          placeholder="Hobbies"
          id="hobbies"
        ></textarea>
      </div>
    </fieldset>
    <fieldset>
      <div id="controlBtns">
        <input type="submit" class="inputElement" value="Submit" />
        <input type="reset" class="inputElement" value="Reset" />
      </div>
    </fieldset>
  </form>
</div>
